@model OsherEx.Models.UserModel

@{
    ViewBag.Title = "ChangePassword";
    Layout = "~/Views/Shared/_MasterPage.cshtml";
}

<p class="alert-primary">Change Password</p>
@using (Html.BeginForm("UpdatePw", "User"))
{
    <table cellpadding="1" cellspacing="1">
        <tr><td>
    <label for="OldPassword">Old Password:</label>
</td><td>
    @Html.EditorFor(p => p.OldPassword)
</td>
</tr>
        <tr><td>
    <label for="Password">New Password:</label>
</td><td>
    @Html.EditorFor(p => p.Password)
</td>
        <td>
            @Html.ValidationMessageFor(p => p.Password)

        </td>
</tr>
        <tr><td>
    <label for="ConfirmPassword">Repeat new Password:</label>
</td><td>
    @Html.EditorFor(p => p.ConfirmPassowrd)
</td><td>
         @Html.ValidationMessageFor(p => p.ConfirmPassowrd)
</td>
</tr><tr><td>
    <button type="submit" class="btn btn-primary">Submit Changes</button>
</td>
</tr>
        </table>
}
@Html.Raw(TempData["message"])